{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col col-12">
            <div class="d-flex p-2 bd-highlight">
                <img src="https://sun9-63.userapi.com/sun9-25/s/v1/if1/YYhlTfJ9_IS-jRzuHMVyNoMWaBeImG4UcgVYA5xU444UWHMBSO3oOm2T1SBzlKYoQp1XZ6uf.jpg?size=200x200&quality=96&crop=83,0,480,480&ava=1" class="rounded-3 float-start" id="avatar" alt="avatar">
            </div>
        </div>
    </div>
</div>

{% endblock %}