body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: rgb(32,24,52);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  background-color: rgb(65, 36, 139)
}

.card {
  margin-top: 5pt;
  margin-bottom: 5pt;
}

#footer {
  background-color: #e2e1e1;
}

#avatar {
  width: 72px;
  border-width: 4px;
  border-radius: 6px;
  border: grey thin solid;
}




